.login-widget {
  border: 2px solid;
  padding: 5px;
  text-align: center;
  margin: 5% 25%;
  background: #c3b3b3;
}
.login-error {
  color: red;
  font-weight: bold;
}
.login-widget form label {
  font-weight: bold;
  margin-right: 42%;
}
.form-element {
  width: 50%;
  height: 30px;
  margin: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
