body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-custom {
  float: right;
  margin-right: 10pc;
}
.error {
  font-size: 16px;
  color: red;
}
.input-procedure {
  width: 170px;
  margin-top: 10px;
}
.inpu-quantity {
}
